version: "3"

services:
  nc:
    image: alpine:latest
    volumes:
      - ./data:/data
    command: "/bin/sh -c 'while true; do nc -l -p 8080 < /data/http-ok.txt; done'"
    ports:
      - "8080:8080"
  example:
    build: .
    ports:
    - "9003:9003"
    depends_on:
      - nc
    environment:
      - PARTNER_URL="http://nc:8080/example/partner"
    command: "bin/example"
